.flaticon-arrow:before {
	content: "\e001";
}
.flaticon-arrows-1:before {
	content: "\e002";
}
.flaticon-arrows-2:before {
	content: "\e003";
}
.flaticon-arrows:before {
	content: "\e004";
}
.flaticon-backward-arrow:before {
	content: "\e005";
}
.flaticon-beach:before {
	content: "\e006";
}
.flaticon-circle-1:before {
	content: "\e007";
}
.flaticon-circle:before {
	content: "\e008";
}
.flaticon-clip:before {
	content: "\e009";
}
.flaticon-cogwheel:before {
	content: "\e00a";
}
.flaticon-cross-1:before {
	content: "\e00b";
}
.flaticon-cross-remove-sign:before {
	content: "\e00c";
}
.flaticon-cross:before {
	content: "\e00d";
}
.flaticon-download-1:before {
	content: "\e00e";
}
.flaticon-download:before {
	content: "\e00f";
}
.flaticon-edit:before {
	content: "\e010";
}
.flaticon-expad-arrows:before {
	content: "\e011";
}
.flaticon-garbage:before {
	content: "\e012";
}
.flaticon-gps:before {
	content: "\e013";
}
.flaticon-line:before {
	content: "\e014";
}
.flaticon-mail:before {
	content: "\e015";
}
.flaticon-minimize-arrows:before {
	content: "\e016";
}
.flaticon-printer:before {
	content: "\e017";
}
.flaticon-skip-track:before {
	content: "\e018";
}
.flaticon-speech-bubble:before {
	content: "\e019";
}
.flaticon-square-1:before {
	content: "\e01a";
}
.flaticon-square:before {
	content: "\e01b";
}
.flaticon-telephone:before {
	content: "\e01c";
}
.flaticon-three-1:before {
	content: "\e01d";
}
.flaticon-three:before {
	content: "\e01e";
}
.flaticon-up-arrow-filled-angle:before {
	content: "\e01f";
}
.flaticon-upload-1:before {
	content: "\e020";
}
.flaticon-upload:before {
	content: "\e021";
}
.flaticon-user:before {
	content: "\e022";
}
